<h1>Portfolio Items</h1>

<% @protfolio_items.each do |protfolio_items| %>
	<p><%= protfolio_items.title %></p>
	<p><%= protfolio_items.subtitle %></p>
	<p><%= protfolio_items.body %></p>
	<p><%= image_tag protfolio_items.thumb_image %></p>

<% end %>